<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recycletest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Recycletest">
        <activity
            android:name=".activity.TestNineActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TestEightActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Result"
            android:exported="false"
            android:theme="@style/Bar" />
        <activity
            android:name=".activity.TestActivity"
            android:exported="false"
            android:theme="@style/Bar" />
        <activity
            android:name=".activity.NineActivity"
            android:exported="false" />
        <activity
            android:name=".activity.EightActivity"
            android:exported="false" />
        <activity
            android:name=".setting.LessonsClass"
            android:exported="false"
            android:theme="@style/Bar" />
        <activity
            android:name=".activity.SevenActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Bar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>